body{
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	min-height: 100vh;
	padding-bottom: 50px;
	font-family: 'Roboto', sans-serif;
}
#error{
	position: absolute;
	left: 50%;
	top:50%;
	font-size: 56px;
	text-align: center;
	transform: translate(-50%, -50%);
	color: rgba(10,20,30,.1);
	opacity: 1;
}
#btn{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 16px;
	border:1px solid rgb(55,55,55);
	color: #333435;
	border-radius: 30px;
	padding: 10px 35px;
	background-color: transparent;
	transition: all 0.25s ease 0s, transform 0.25s ease 0s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}
#btn:hover{
	border:1px solid white;
	background-color: white;
	box-shadow: 0 6px 15px rgba(36,37,38,0.08);
}
#btn:focus{
	    outline: none;
}
#sub{
	width: 100%;
	text-align: center;
	color: rgba(10,20,30,.1);
	display: none;
}
#sub span{
	color: #333435;
}
.grid{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.elem-box{
	display: block;
	padding: 20px 20px 40px 20px;
	background-color: white;
	border-radius: 16px;
	box-shadow: 0 6px 15px rgba(36,37,38,0.08);
	transition: box-shadow 0.25s ease 0s, transform 0.25s ease 0s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;    

}
.elem-box:hover{
	box-shadow: 5px 12px 20px rgba(36,37,38,0.13);
}
.elem{
	color:#333435;	
	cursor: pointer;
}
.elem img{
	display: block;
	margin-left: auto;
	margin-right: auto;	
}
.elem h4{
	text-align: center;
}
.elem hr{
	text-align: center;
}

@media only screen and (max-width : 1200px) {
	.grid{
    	grid-template-columns: 1fr 1fr 1fr;
	}
}
@media only screen and (max-width : 992px) {
	.grid{
    	grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width : 590px) {
	.grid{
    	grid-template-columns: 1fr;
	}
}